[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-bin=mysql-bin
server-id=num
binlog-do-db=cloud
binlog-do-db=cloud_usage
binlog-ignore-db=mysql,information_schema,test
replicate-do-db=cloud
replicate-do-db=cloud_usage
replicate-ignore-db=mysql,information_schema,test

sync_binlog=1
log-slave-updates
slave-skip-errors=all
auto_increment_increment=1
auto_increment_offset=offset_value
binlog_format="MIXED"


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
